# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/
env/

# Node
node_modules/
.next/
out/
frontend/.next/
frontend/node_modules/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Testing
.coverage
htmlcov/
coverage_report.txt
.pytest_cache/
/frontend/coverage
/frontend/coverage_output.txt
/frontend/jest_output.txt

# Uploads
uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep

#terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform.tfstate.backup
terraform.tfstate
